<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd">
<suite name="Banking API Test Suite" parallel="false" thread-count="1" verbose="2">

    <listeners>
        <listener class-name="com.banking.ui.report.E2eHtmlReporter"/>
    </listeners>

    <test name="Authentication API Tests" verbose="2">
        <classes>
            <class name="com.banking.api.tests.AuthenticationAPITest"/>
        </classes>
    </test>

    <test name="Account Management API Tests" verbose="2">
        <classes>
            <class name="com.banking.api.tests.AccountManagementAPITest"/>
        </classes>
    </test>

    <test name="Transaction API Tests" verbose="2">
        <classes>
            <class name="com.banking.api.tests.TransactionAPITest"/>
        </classes>
    </test>

    <test name="Banking UI Tests" verbose="2">
        <classes>
            <class name="com.banking.ui.tests.BankingUiTest"/>
        </classes>
    </test>

</suite>