xml
        <?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-current.dtd">
<suite name="Banking Automation Test Suite">
    <test name="API Tests">
        <classes>
            <class name="com.banking.AuthenticationAPITest" />
            <class name="com.banking.BaseTest" />
        </classes>
    </test>
</suite>